[Unit]
Description=/etc/systemd/system/usr_config.service Compatibility
ConditionPathExists=/etc/startup/usr_config.sh

[Service]
Type=simple
ExecStart=/etc/startup/usr_config.sh
ExecStop=
#TimeoutSec=0
TimeoutStartSec=6
TimeoutStopSec=6
#StandardOutput=tty
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target

